@import "tailwindcss";

body {
  background-color: #f5f5f5; /* light gray */
  color: #111; /* black text */
}


.admin-input {
  @apply w-full rounded-lg border border-gray-300 bg-white
  px-3 py-2 text-sm
  focus:border-blue-500 focus:ring-2 focus:ring-blue-200
  transition;
}

.admin-label {
  @apply text-sm font-semibold text-gray-700;
}

.admin-error {
  @apply text-xs text-red-500 mt-1;
}

